html {font-size: 16px;
font-family: 'Inter', sans-serif;
;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header ul {
    display: none;
}


body {height: 100%;
    background-color: white;
    padding: 1.5rem 1rem;
    opacity: 0.9;
}
p  {font-size: 1rem; line-height: 150%; font-weight: 400;}
h2 {font-size: 2.65rem; font-weight: 800;}
h3 {font-size: 2.2rem; font-weight: 700;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.2rem;}

header {
    display: flex;
    justify-content: space-between;
    
}

nav {
    display: flex;
    align-items: center;
}

header button { background-color: inherit;
    border: none;
}

main {

}

#container-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin: 2rem 0rem;
    
}

.img-main {
    width: 100%;
    height: 45vh;
    background-image: url('assets/images/image-web-3-mobile.jpg');
    background-size: cover;
}

.text-main {
    

}
.text-main h2, .text-main div p, .text-main button {
    margin-bottom: 1rem
}

.text-main button {
    background-color: rgb(234, 40, 43);
    padding: 1.25rem 2.5rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.33rem;
    border: none;
    opacity: 0.9;
}

/* ASIDE ASIDE ASIDE */

.aside-main {
    background-color: rgb(0, 0, 25);
    color: white;
    padding: 1rem;

}

.aside-main > * {
    margin-bottom: 1rem;
}

.aside-main h3 {margin-bottom: 2rem;
color: hsl(35, 77%, 62%)}


/* CONTAINER FLEX */

/* #container-flex {} */

#container-flex > div {
    display: flex;
    padding: 1rem;
    margin: 2rem 0rem;
}

#container-flex h3 {opacity: 0.45;}
#container-flex h5 {font-weight: 700;}
#container-flex p {opacity: 0.85;}

#container-flex div div {display: flex; flex-direction: column; justify-content: space-between;
}
.img1 {
    margin-right: 1rem;
    min-width: 5rem;
    max-width: 7rem;
    transform: scale(1.1);
}

.img2 {
    margin-right: 1rem;
    min-width: 5rem;
    max-width: 7rem;
    transform: scale(1.1);}

.img3 {
    margin-right: 1rem;
    width: auto;
    min-width: 5rem;
    max-width: 7rem;
    transform: scale(1.1);
}

/* MEDIA QUERY MEDIA QUERTY MEDIA QUERY */
/* MEDIA QUERY MEDIA QUERTY MEDIA QUERY */
/* MEDIA QUERY MEDIA QUERTY MEDIA QUERY */
/* MEDIA QUERY MEDIA QUERTY MEDIA QUERY */

@media (min-width: 1024px) {

html { font-size: 17px;}

main {display: flex;
    flex-direction: column;}

body {padding: 3% 6%;
    }

header button {
        display: none;
    }

header nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

header nav ul li:hover, .aside-main h4:hover { color: hsl(35, 77%, 62%);

}

#container-flex div div h5:hover{ color: rgb(234, 40, 43);}

header nav {width: 40%;}

#container-grid {display: grid; 
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img img aside"
                         "text text aside";
    gap: 2rem;
}

.text-main {
display: flex; justify-content: flex-start;
}

.text-main h2, .text-main div {
    width: 50%
    }

.text-main div {
        padding-left: 3rem;
    }
.text-main div button:hover { background-color:rgb(0, 0, 25)
}


.aside-main {
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.img-main {grid-area: img; 
background-image: url('assets/images/image-web-3-desktop.jpg');
background-size: cover;
background-position: center;
width: 100%;
height: 100%;}

.text-main {grid-area: text;
    display: flex;
    justify-content: space-around;
align-items: flex-start;}




.aside-main {grid-area: aside;
/* height: auto;
padding: auto;} */
}

.aside-main h4, .aside-main p {
    font-size: 16px;
    margin-bottom: 0.7rem;
}

#container-flex {display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0;

}
#container-flex > * {
    margin: 0px!important; padding: 0rem!important;
}

#container-flex img { width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;

}

}